<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feitianzhu.huangliwo">

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:name="com.feitianzhu.huangliwo.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:theme">

        <!--添加provider-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.feitianzhu.huangliwo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="sj7Duk6sDsVFhabLZKKP04lb4bka9hPh" />

        <activity
            android:name="com.feitianzhu.huangliwo.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.ShopsCreateActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name="com.feitianzhu.huangliwo.login.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.feitianzhu.huangliwo.settings.ChangePasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.VerificationActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.feitianzhu.huangliwo.splash.SplashActivity2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.feitianzhu.huangliwo.payforme.PayForMeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.payforme.PayForMeRejectActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.ScannerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.ShopTypeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.consumeralliance.NewBecomeVolunteerActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.home.NoticeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.totalScore.SelectPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.totalScore.TransferVoucherActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.totalScore.MineQrcodeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.totalScore.MineCollectionActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.login.ForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name="com.feitianzhu.huangliwo.settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.settings.ChangePhone1Activity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.settings.ChangePhone2Activity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.settings.GetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.settings.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.ShopsEditActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.bankcard.MyBankCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.bankcard.WithdrawResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.bankcard.AddBankCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.bankcard.SelectBankCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.bankcard.WithdrawActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.CollectMoneyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.payforme.PayForMeRecordActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.ShopShowNoCreateActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.WalletPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.home.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.common.base.LazyWebActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

        <!-- ShareSdk  start -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 微信分享回调 -->
        <activity
            android:name="com.feitianzhu.huangliwo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1110085823" />
            </intent-filter>
        </activity>
        <!-- ShareSdk  end -->
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.ShopReportActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.GetMoneyActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.totalScore.ReleaseTotalScoreActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.OrdeRevaluateActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.PersonalCenterActivity2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.EditNickActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.EditSignActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ShopSetMealActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.vip.VipActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.vip.VipUpgradeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ShopsDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:largeHeap="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ShopInfoDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ShopPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.BalanceActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.DetailedRulesActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.UnionlevelActivity2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.vip.ProtocolActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.AddressManagementActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.EditAddressActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.MyOrderActivity2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.OrderDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.EditCommentsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.EditApplyRefundActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.LogisticsInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.CommentsDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.PushShopHomeActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.EditMerchantsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.PushShopListActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.MySelfMerchantsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.NoPassReasonActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.ProblemFeedbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.PushShopProtocolActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.pushshop.MerchantsDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.AfterSaleActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.ShoppingCartActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.SelectPayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.WithdrawActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.me.ui.VerificationActivity2"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.login.RegistererProtocolActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ui.SearchShopActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.feitianzhu.huangliwo.shop.ShopsActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait" />

    </application>

</manifest>